    /*examples of transition: https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition_speed*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 182, 243);
    height: 100vh;
    display: flex; /*adjusts display size*/
    align-items: center; /*centers vertically*/
    justify-content: center; /*centers horizontally*/
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*Evnelope will give poistioning context to items inside*/
.envelope{
    position: relative;
    width: 560px;
    height: 300px;
    perspective: 1000px; /*gives depth*/
}

.env_body{
    position: absolute;
    inset: 0;
    /*left: 0;
    top: 0;*/

    background-color: beige;
    z-index: 2;
    /*width: 560px;
    height: 300px;*/

}

#env_lines{
    position: absolute;
    top:-130px;
    left:50%;
    
    width: 115px;
    height: 90px;

    transform: translateX(-50%) rotateX(0deg);
    transform-origin: center;
    transition: transform 600ms ease;

    z-index: 4; /*This is like layering, so this will be 4th top thing*/
}

#env_lines:before{
    position: absolute; 
    content: ""; 
    left: 30px; 
    top: 0; 
    width: 5px; 
    height: 310px; 
    background: rgb(190, 190, 146); 

    -webkit-transform: rotate(-55deg); /* 45 degrees rotation counter clockwise */
       -moz-transform: rotate(-55deg); 
        -ms-transform: rotate(-55deg); 
         -o-transform: rotate(-55deg); 
            transform: rotate(-55deg); 
    -webkit-transform-origin: 0 100%; /* Rotate it around the bottom-left corner */
       -moz-transform-origin: 0 100%; 
        -ms-transform-origin: 0 100%; 
         -o-transform-origin: 0 100%; 
            transform-origin: 0 100%;
}

#env_lines:after{
    position: absolute; 
    content: ""; 
    left: 80px; 
    top: 0; 
    width: 5px; 
    height: 310px; 
    background: rgb(190, 190, 146); 

    -webkit-transform: rotate(55deg); /* rotating 45 degrees clockwise */
       -moz-transform: rotate(55deg); 
        -ms-transform: rotate(55deg); 
         -o-transform: rotate(55deg); 
            transform: rotate(55deg); 
    -webkit-transform-origin: 100% 100%; /* rotation is around bottom-right corner this time */
       -moz-transform-origin: 100% 100%; 
        -ms-transform-origin: 100% 100%; 
         -o-transform-origin: 100% 100%; 
            transform-origin :100% 100%; 
}

.paper{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 240px;

    background: rgb(255, 250, 240);
    z-index: 1;

    /* animates the paper sliding out*/
    transform: translateY(0);
    transition: transform 600ms ease;
    border-radius: 6px;
}

#heart{
    position: absolute;
    top:60%;
    left:50.5%;
    transform: translate(-50%, -50%);
    
    width: 115px;
    height: 90px;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    z-index: 4;
}

#heart:before{
    position:absolute;
    content:"";
    left:50px;
    top:0;
    width:52px;
    height:80px;
    background-color: rgb(233, 52, 52);
    border-radius: 50px 50px 0 0;

    -webkit-transform: rotate(-45deg); /* 45 degrees rotation counter clockwise */
       -moz-transform: rotate(-45deg); 
        -ms-transform: rotate(-45deg); 
         -o-transform: rotate(-45deg); 
            transform: rotate(-45deg); 
    -webkit-transform-origin: 0 100%; /* Rotate it around the bottom-left corner */
       -moz-transform-origin: 0 100%; 
        -ms-transform-origin: 0 100%; 
         -o-transform-origin: 0 100%; 
            transform-origin: 0 100%;
}

#heart:after{
    position:absolute;
    content:"";
    left:0;
    top:0;
    width:52px;
    height:80px;
    background-color: rgb(233, 52, 52);
    border-radius: 50px 50px 0 0;

    -webkit-transform: rotate(45deg); /* 45 degrees rotation counter clockwise */
       -moz-transform: rotate(45deg); 
        -ms-transform: rotate(45deg); 
         -o-transform: rotate(45deg); 
            transform: rotate(45deg); 
    -webkit-transform-origin: 100% 100%; /* rotation is around bottom-right corner this time */
       -moz-transform-origin: 100% 100%; 
        -ms-transform-origin: 100% 100%; 
         -o-transform-origin: 100% 100%; 
            transform-origin :100% 100%; 
}

#heart::before, #heart::after{
     pointer-events: none; /*allows clicks to go through heart*/
}

/*This part makes it feel like a button*/
#heart:hover::before,#heart:hover::after{
    background-color: rgb(245, 74, 74);
}

/*when clicked, will do this*/
#heart:active{
    transform: translate(-50%, -50%) scale(0.95);
}



/*when envelope is open*/
.envelope.open #env_lines{
    transform: translateX(-50%) rotateX(180deg);
}

.envelope.open .paper{
    transform: translateY(-120px);
}

.envelope.open #heart{
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease;
}