*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 182, 243);
    height: 100vh;
    display: flex; /*adjusts display size*/
    align-items: center; /*centers vertically*/
    justify-content: center; /*centers horizontally*/
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.letter{
    position: relative;

    background-color: beige;
    width: 560px;
    height: 300px;

    display:flex;
    align-items: center;
    justify-content: center; /*centers horizontally*/
    /*border-radius: 10px; /*makes box smooth edges*/
}

#letter_lines{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
    width: 115px;
    height: 90px;
}

#letter_lines:before{
    position: absolute; 
    content: ""; 
    left: 30px; 
    top: -235px; 
    width: 5px; 
    height: 310px; 
    background: rgb(190, 190, 146); 

    -webkit-transform: rotate(-55deg); /* 45 degrees rotation counter clockwise */
       -moz-transform: rotate(-55deg); 
        -ms-transform: rotate(-55deg); 
         -o-transform: rotate(-55deg); 
            transform: rotate(-55deg); 
    -webkit-transform-origin: 0 100%; /* Rotate it around the bottom-left corner */
       -moz-transform-origin: 0 100%; 
        -ms-transform-origin: 0 100%; 
         -o-transform-origin: 0 100%; 
            transform-origin: 0 100%;
}

#letter_lines:after{
    position: absolute; 
    content: ""; 
    left: 80px; 
    top: -235px; 
    width: 5px; 
    height: 310px; 
    background: rgb(190, 190, 146); 

    -webkit-transform: rotate(55deg); /* rotating 45 degrees clockwise */
       -moz-transform: rotate(55deg); 
        -ms-transform: rotate(55deg); 
         -o-transform: rotate(55deg); 
            transform: rotate(55deg); 
    -webkit-transform-origin: 100% 100%; /* rotation is around bottom-right corner this time */
       -moz-transform-origin: 100% 100%; 
        -ms-transform-origin: 100% 100%; 
         -o-transform-origin: 100% 100%; 
            transform-origin :100% 100%; 
}


#heart{
    position: absolute;
    top:55%;
    left:50.5%;
    transform: translate(-50%, -50%);
    
    width: 115px;
    height: 90px;
}

#heart:before{
    position:absolute;
    content:"";
    left:50px;
    top:0;
    width:52px;
    height:80px;
    background-color: rgb(233, 52, 52);
    border-radius: 50px 50px 0 0;

    -webkit-transform: rotate(-45deg); /* 45 degrees rotation counter clockwise */
       -moz-transform: rotate(-45deg); 
        -ms-transform: rotate(-45deg); 
         -o-transform: rotate(-45deg); 
            transform: rotate(-45deg); 
    -webkit-transform-origin: 0 100%; /* Rotate it around the bottom-left corner */
       -moz-transform-origin: 0 100%; 
        -ms-transform-origin: 0 100%; 
         -o-transform-origin: 0 100%; 
            transform-origin: 0 100%;
}

#heart:after{
    position:absolute;
    content:"";
    left:0;
    top:0;
    width:52px;
    height:80px;
    background-color: rgb(233, 52, 52);
    border-radius: 50px 50px 0 0;

    -webkit-transform: rotate(45deg); /* 45 degrees rotation counter clockwise */
       -moz-transform: rotate(45deg); 
        -ms-transform: rotate(45deg); 
         -o-transform: rotate(45deg); 
            transform: rotate(45deg); 
    -webkit-transform-origin: 100% 100%; /* rotation is around bottom-right corner this time */
       -moz-transform-origin: 100% 100%; 
        -ms-transform-origin: 100% 100%; 
         -o-transform-origin: 100% 100%; 
            transform-origin :100% 100%; 
}
