    /*examples of transition: https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition_speed*/

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 182, 243);
    height: 100vh;
    display: flex; /*adjusts display size*/
    align-items: center; /*centers vertically*/
    justify-content: center; /*centers horizontally*/
}

.font-1{
    font-family: "Playwrite NZ basic", cursive;
    font-size: x-large;
    text-align: center;
    padding: 15px;
}

.flower-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.flower{
    position: absolute;
    bottom: 0;
    height: 150px;
    width: auto;
}


.letter-image{
    max-width:70%;
    max-height: 120px;
    height: auto;
    width: auto;

    display: block;
    margin: 10px auto 0; /*centers horizontally and adds space above*/

    object-fit: contain; /*keeps aspect ratio*/
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*Evnelope will give poistioning context to items inside*/
.envelope{
    position: relative;
    width: 560px;
    height: 300px;
    perspective: 1000px; /*gives depth*/
    
    overflow: visible; /*if element exceeds boundaries, it will show*/
}

.shell{
    position: absolute;
    inset: 0;
    z-index: 5; /*top most thing*/

    transform: translateY(0);
    opacity: 1;
    transition: transform 700ms ease, opacity 500ms ease;
}

.env_body{
    position: absolute;
    inset: 0;

    background-color: beige;
    z-index: 2;
}

#env_lines{
    position: absolute;
    inset: 0;
    z-index: 4; /*This is like layering, so 1 is lowest layer, this will be 4th top thing*/

    /*Allows for non-rectangular shapes*/
    clip-path: polygon(0 0, 100% 0, 50% 55%);

    /*This actually draws these lines onto the envelope, crazy*/
    background:
        linear-gradient(to bottom right, 
        transparent calc(50% - 2px),
        rgb(190, 190, 146) calc(50% - 2px),
        rgb(190, 190, 146) calc(50% + 2px),
        transparent calc(50% + 2px)
        ),

        linear-gradient(to bottom left, 
        transparent calc(50% - 2px),
        rgb(190, 190, 146) calc(50% - 2px),
        rgb(190, 190, 146) calc(50% + 2px),
        transparent calc(50% + 2px)
        );

    transform: rotateX(0deg);
    transform-origin: top center;
    transition: transform 600ms ease;

    backface-visibility: hidden; /*avoids werid mirrored look*/
}


.paper{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 240px;
    border-radius: 6px;

    background: rgb(255, 250, 240);
    z-index: 5;

    /*makes the paper appear/slide out*/
    transition: transform 700ms ease, height 700ms ease;

}

#heart{
    position: absolute;
    top:55%;
    left:50.5%;
    transform: translate(-50%, -50%);
    
    width: 115px;
    height: 90px;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    z-index: 4;
}

#heart:before{
    position:absolute;
    content:"";
    left:50px;
    top:0;
    width:52px;
    height:80px;
    background-color: rgb(233, 52, 52);
    border-radius: 50px 50px 0 0;

    -webkit-transform: rotate(-45deg); /* 45 degrees rotation counter clockwise */
       -moz-transform: rotate(-45deg); 
        -ms-transform: rotate(-45deg); 
         -o-transform: rotate(-45deg); 
            transform: rotate(-45deg); 
    -webkit-transform-origin: 0 100%; /* Rotate it around the bottom-left corner */
       -moz-transform-origin: 0 100%; 
        -ms-transform-origin: 0 100%; 
         -o-transform-origin: 0 100%; 
            transform-origin: 0 100%;
}

#heart:after{
    position:absolute;
    content:"";
    left:0;
    top:0;
    width:52px;
    height:80px;
    background-color: rgb(233, 52, 52);
    border-radius: 50px 50px 0 0;

    -webkit-transform: rotate(45deg); /* 45 degrees rotation counter clockwise */
       -moz-transform: rotate(45deg); 
        -ms-transform: rotate(45deg); 
         -o-transform: rotate(45deg); 
            transform: rotate(45deg); 
    -webkit-transform-origin: 100% 100%; /* rotation is around bottom-right corner this time */
       -moz-transform-origin: 100% 100%; 
        -ms-transform-origin: 100% 100%; 
         -o-transform-origin: 100% 100%; 
            transform-origin :100% 100%; 
}

#heart::before, #heart::after{
     pointer-events: none; /*allows clicks to go through heart*/
}

/*This part makes it feel like a button*/
#heart:hover::before,#heart:hover::after{
    background-color: rgb(245, 74, 74);
}

/*when clicked, will do this*/
#heart:active{
    transform: translate(-50%, -50%) scale(0.95);
}



/*when envelope is open*/
.envelope.open .shell{
    /*will drop envelope*/
    transform: translateY(220px);
    opacity: 0;
    pointer-events: none;
}

.envelope.open #env_lines{
    transform: rotateX(180deg);
}

.envelope.open .paper{
    transform: translateY(-80px);
    height: 320px;
}

.envelope.open #heart{
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease;
}